<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<body>
<a href="./DealNotebookController.php?flag=addnotebook">发布信息</a>  <a href="./LoginController.php?deal=destory">退出系统</a>
<h1>留言查询页面</h1>
<table border=1 bordercolor='#00FFFF' cellspacing=0>
 <tr><th>id</th><th>姓名</th><th>标题</th><th>内容</th><th>时间</th><th></th><th></th></tr>
 <{foreach from=$res item=temp}>
 <tr><td><{$temp.id}></td><td><{$temp.name}></td><td><{$temp.title}></td><td><{$temp.content}></td><td><{$temp.time}></td><td><a href='./DealNotebookController.php?flag=delete&id=<{$temp.id}>' onclick='return Del()'>删除</a></td><td><a href='./DealNotebookController.php?flag=update&id=<{$temp.id}>'>修改</a></td></tr>
 <{/foreach}>
</table>
<{$navigate}>
<script language="javascript" type="text/javascript">
<!--
function Del()
{
  return window.confirm('确定删除?');
}
//-->
</script>
</body>
</html>
